<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itllp.barleylegalhomebrewers.ontap"
    android:versionCode="8"
    android:versionName="2.0-2014APR28+" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_ontap"
        android:theme="@style/Theme.AppCompat"
        android:label="@string/app_name" android:name="OnTapApplication">
        <activity
            android:name="com.itllp.barleylegalhomebrewers.ontap.EventListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itllp.barleylegalhomebrewers.ontap.BeerListActivity"
            android:label="Beer List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itllp.barleylegalhomebrewers.ontap.EventListActivity" />
        </activity>
        <activity
            android:name="com.itllp.barleylegalhomebrewers.ontap.BeerDetailActivity"
            android:label="@string/title_activity_beer_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itllp.barleylegalhomebrewers.ontap.BeerListActivity" />
        </activity>
        
        <provider 
			android:authorities="com.itllp.barleylegalhomebrewers.ontap.contentprovider"
            android:name=".contentprovider.OnTapContentProvider"
			android:exported="false"
			android:multiprocess="true"
		/>
    </application>

</manifest>
